@import "src/index";

$column-gap: 10px;

.WordInputPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}

.inputRow {
  width: 100%;
  display: grid;
  column-gap: $column-gap;
  padding-right: $column-gap;
  grid-template-columns: 50% 50%;
  margin-bottom: 50vh;
}

.floatingInput {
  position: absolute;
  bottom: 10px;
  margin: 0;
  right: calc($scrollbar-width / 2);
}

.hiddenInput {
  opacity: 0;
}

.scroll {
  overflow-y: auto;
}

.sentences {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
}

.input {
  input {
    font-size: 2rem;
    text-align: right;
  }
}

.loading {
  display: flex;
  justify-content: center;
}
