@import "src/index";

.RegisterPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.text {
  position: fixed;
}

.form {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
}

.helperText {
  animation-name: openAlert;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

.registerLogo {
  height: 400px;
  width: 400px;
  background-image: linear-gradient(45deg,
    rgba($register-gradient-fg, 0.3), rgba($register-gradient-bg, 0.3));
  animation-name: fade;
  animation-duration: 3s;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 130px;
}

.inputs {
  display: inherit;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  max-width: 400px;
  min-width: 250px;
}

.header {
  font-size: 2rem;
}

.loginLink {
  display: inline-flex;
  gap: 5px;
  color: var(--primary-fg-color);
}

.alert {
  animation-name: openAlert;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

@keyframes openAlert {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
  }
}