@import "src/index";

$wrongAnswer-gradient-fg: #320a0a;
$wrongAnswer-gradient-bg: #2e0c0c;
$wrongAnswer-gradient-highlight: rgba(#c0b3b3, 0.05);

$correctAnswer-gradient-fg: #093f19;
$correctAnswer-gradient-bg: rgba(#012e2b, 0.7);
$correctAnswer-gradient-highlight: rgba(#b5c0b3, 0.05);

$registerFlash-gradient-fg: rgba(#4e3930, 0.4);


.GradientBackground {
  transition-property: background-color;
  transition-duration: 3s;
  width: 100%;
  height: 100%;
  position: fixed;
}

.wordsGradient {
  background-image: radial-gradient(circle at 80% 30%, $words-gradient-fg, transparent);
}

.loginGradient {
  background-image: radial-gradient(circle at 10% 30%, $login-gradient-fg, transparent);
}

.registerGradient {
  background-image: radial-gradient(circle at 50% 30%, $register-gradient-fg, transparent);
}

.registerFlash1 {
  background-image: radial-gradient(circle at 80% 70%, $registerFlash-gradient-fg 8%, transparent 17%);
  animation-delay: 0.5s;
}

.registerFlash2 {
  background-image: radial-gradient(circle at 20% 40%, $registerFlash-gradient-fg 5%, transparent 10%);
  animation-delay: 1s;
}

.registerFlash3 {
  background-image: radial-gradient(circle at 70% 40%, $registerFlash-gradient-fg 20%, transparent 37%);
  animation-delay: 1.5s;
}

.quizGradient {
  background-image: radial-gradient(circle at 30% 70%, $quiz-gradient-fg, transparent);
}

.wrongGradient {
  background-image: radial-gradient(circle at 50% 30%, $wrongAnswer-gradient-fg, transparent);
  animation-delay: 0.1s;
}

.wrongGradientBackground {
  background-image: radial-gradient(circle at 10% 90%, $wrongAnswer-gradient-bg, transparent);
}

.wrongGradientHighlight {
  background-image: radial-gradient(circle at 10% 70%, $wrongAnswer-gradient-highlight 2%, transparent 3%);
  animation-delay: 0.1s;
}

.wrongGradientHighlight2 {
  background-image: radial-gradient(circle at 15% 85%, $wrongAnswer-gradient-highlight 1%, transparent 2%);
  animation-delay: 0.3s;
}

.correctGradient {
  background-image: radial-gradient(circle at 40% 30%, $correctAnswer-gradient-fg, transparent);
  animation-delay: 0.1s;
}

.correctGradientBackground {
  background-image: radial-gradient(circle at 10% 90%, $correctAnswer-gradient-bg, transparent);
}

.correctGradientHighlight {
  background-image: radial-gradient(circle at 90% 60%, $correctAnswer-gradient-highlight 2%, transparent 3%);
  animation-delay: 0.3s;
}

.correctGradientHighlight2 {
  background-image: radial-gradient(circle at 75% 80%, $correctAnswer-gradient-highlight 1%, transparent 2%);
  animation-delay: 0.2s;
}

.answerGradient {
  animation-name: answer;
  animation-duration: 3s;
  opacity: 0;
}

.answerGradient,
.gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition-property: opacity;
  transition-duration: 3s;
}

@keyframes answer {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}