$register-gradient-bg: #040a23;
$register-gradient-fg: #5a2a0c;

$login-gradient-bg: #090a2b;
$login-gradient-fg: #0b5250;

$sentences-gradient-bg: #0c0b43;
$sentences-gradient-fg: #3d2525;

$quiz-gradient-bg: #16010b;
$quiz-gradient-fg: #141e46;

$home-gradient-fg: #111128;

$scrollbar-width: 10px;

$mobile-width: 768px;

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiDialog-paper,
.MuiPopover-paper {
  background-color: rgba($color: white, $alpha: 0.1) !important;
  backdrop-filter: blur(10px);
}

.MuiDialog-container {
  transition: none !important;
}

::-webkit-scrollbar {
  width: $scrollbar-width;
  height: $scrollbar-width;
}

::-webkit-scrollbar-track {
  background: transparent; 
}
 
::-webkit-scrollbar-thumb {
  background: rgba($color: white, $alpha: 0.2); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgba($color: white, $alpha: 0.4); 
}

::-webkit-scrollbar-corner {
  background: transparent;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
