.HomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: -100px;
  width: 100%;
  height: auto;
  max-height: 70%;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: inline-flex;
  gap: 10px;
}